<!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

      <!-- NAVIGATION : This navigation is also responsive

      To make this navigation dynamic please make sure to link the node
      (the reference to the nav > ul) after page load. Or the navigation
      will not initialize.
      -->
      <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

      <% if policy(:system_user).index? %>
        <ul>
          <li id="nav_dashboard">
            <%= link_to user_management_root_path, :title => t("general.dashboard"), :remote => true do %>
              <i class="fa fa-lg fa-fw fa fa-home"></i> <span class="menu-item-parent"><%= t("general.dashboard") %></span>
            <% end %>
          </li>
          <% if policy(:system_user).new? %>
            <li id="nav_create_system_user">
              <%= link_to new_system_user_path, :title => t("user.create_system_user"), :remote => true do %>
                <i class="fa fa-lg fa-fw fa fa-edit"></i> <span class="menu-item-parent"><%= t("user.create_system_user") %></span>
              <% end %>
            </li>
          <% end %>
          <% if policy(:login_history).list? %>
            <li id="nav_list_login_histories">
              <%= link_to login_histories_path, :title => t("login_history.list"), :remote => true do %>
                <i class="fa fa-lg fa-fw fa fa-list"></i> <span class="menu-item-parent"><%= t("login_history.list") %></span>
              <% end %>
            </li>
          <% end %>
          <li id="nav_list_system_users">
            <%= link_to system_users_path, :title => t("user.list_users"), :remote => true do %>
              <i class="fa fa-lg fa-fw fa fa-list"></i> <span class="menu-item-parent"><%= t("user.list_users") %></span>
            <% end %>
          </li>
        </ul>
      <% end %>
      </nav>
      <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
      </span>

    </aside>
    <!-- END NAVIGATION -->
