  <title><%=t("title.title") %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "screen" %>
  <%= stylesheet_link_tag "font-awesome.min", :media => "screen" %>
  <%= stylesheet_link_tag "smartadmin-production.min", :media => "screen" %>
  <%= javascript_include_tag "jquery-rails" %>
  
   <!--[if IE 8]>
  <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
  <![endif]-->
