  <title><%=t("general.product_name") %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "screen" %>
  <%= stylesheet_link_tag "font-awesome.min", :media => "screen" %>
  <%= stylesheet_link_tag "smartadmin-rtl.min", :media => "screen" %>
  <%= stylesheet_link_tag "smartadmin-production.min", :media => "screen" %>
  <%= stylesheet_link_tag "smartadmin-skins.min", :media => "screen" %>
  <%= stylesheet_link_tag "select2-extend", :media => "screen" %>
  <%= stylesheet_link_tag "bootstrap-datetimepicker", :media => "screen" %>
  <%= stylesheet_link_tag "ap_customize_style.css", :media => "screen" %>
  <%= stylesheet_link_tag "your_style.css", :media => "screen" %>
  <%= javascript_include_tag "jquery-rails" %>


   <!--[if IE 8]>
  <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
  <![endif]-->
