<title><%= t("general.product_name") %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "bootstrap.min", :media => "screen" %>
<%= stylesheet_link_tag "font-awesome.min", :media => "screen" %>
<%= stylesheet_link_tag "smartadmin-production.min", :media => "screen" %>

<%= javascript_include_tag "login" %>
<%# <script src="https://apis.google.com/js/api:client.js"></script> %>
<%= javascript_include_tag "api_client" %>
