<table id="domain_ldap" class="table table-striped table-bordered table-hover fit_table" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th style="width: 10%;"><%= t("domain.name") %></th>
      <th style="width: 10%;"><%= t("domain_ldap.ldap_name") %></th>
      <th style="width: 12%;"><%= t("domain_ldap.host") %></th>
      <th style="width: 6%;"><%= t("domain_ldap.port") %></th>
      <th style="width: 15%;"><%= t("domain_ldap.account") %></th>
      <th style="width: 15%;"><%= t("domain_ldap.base_dn") %></th>
      <th style="width: 15%;"><%= t("domain_ldap.admin_account") %></th>
      <th style="width: 11%;" id="updated-at"><%= t("general.updated_at") %></th>
      <th style="width: 6%;"><%= t("general.operation") %></th>
    </tr>
  </thead>

  <tbody>
    <!-- domain list -->
    <% @domains.each do |domain| %>
      <tr align="center">
        <td><%= domain.name %></td>
        <% if domain.auth_source_detail %>
          <td><%= domain.auth_source_detail.name %></td>
          <td><%= domain.auth_source_detail.data['host'] %></td>
          <td><%= domain.auth_source_detail.data['port'] %></td>
          <td><%= domain.auth_source_detail.data['account'] %></td>
          <td><%= domain.auth_source_detail.data['base_dn'] %></td>
          <td><%= domain.auth_source_detail.data['admin_account'] %></td>
        <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td><%= format_time(domain.updated_at) %></td>
        <td> 
          <% if policy(:domain).update_domain_ldap? %>
            <%= link_to(edit_domain_path(domain.id), remote: true, title: t("general.edit"), class: "btn btn-primary", id: "edit_#{domain.id}") do %>
              <i id="edit" class="fa fa-pencil-square-o"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
