<table class="table table-bordered" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th class="col-md-1"><%= t("maintenance.maintenance_id") %></th>
      <th class="col-md-1"><%= t("maintenance.property") %></th>
      <th class="col-md-1"><%= t("maintenance.scheduled_at") %></th>
      <th class="col-md-2"><%= t("maintenance.period") %></th>
      <th class="col-md-1"><%= t("maintenance.duration") %></th>
      <th class="col-md-1"><%= t("general.status") %></th>
      <th class="col-md-1"><%= t("maintenance.test_account") %></th>
      <th class="col-md-3"><%= t("general.operation") %></th>
    </tr>
  </thead>
  <tbody>
    <% unless @maintenances.blank? %>
      <% @maintenances.each do |maint| %>
        <tr <%= (maint.unsuccess?) ? "class=danger" : "" -%> bgcolor=<%= cycle("#F9F9F9", "", name: "row_class") -%>>
          <td>
            <%= link_to(maint.id.to_s, "javascript:void(0);", "type" => "button", "data-toggle" => "collapse", "data-target" => "##{maint.id}", "class" => "accordion-toggle") %>
          </td>
          <td><%= maint.property_id %></td>
          <td><%= format_time(maint.created_at) %></td>
            
          <td><%= time_format_for(maint.start_time) %> ~ <%= time_format_for(maint.end_time) %></td>
          <td><%= show_duration(maint.duration) %></td>
          <td><%= t(display_status(maint.status)) %>
          </td>
          <td><%= t(display_allow_test_acc_val(maint.allow_test_account)) %></td>
          <td>
            <% if maint.is_extendable? %>
              <%= link_to(extend_maintenance_path(maint), :title => t("maintenance.extend"), :class => "btn btn-primary", :remote => true, :id => "extend_#{maint.id}") do %>
                <i class="glyphicon glyphicon-plus"></i>
              <% end %>
            <% end %>
            <% if maint.is_completable? %>
              <%= link_to(complete_maintenance_path(maint), :title => "Complete", :class => "btn btn-primary", :remote => true, :id => "complete_#{maint.id}", :method => :post) do %>
                <i class="glyphicon glyphicon-ok"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <td colspan="10" class="hiddenRow" style="padding:0">
            <div class="accordian-body collapse col-md-12 col-md-offset-0" id=<%= maint.id %>>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th class="col-md-1"><%= t("maintenance.propagation_id") %></th>
                    <th class="col-md-1"><%= t("propagation.action") %></th>
                    <th class="col-md-2"><%= t("general.status") %></th>
                    <th class="col-md-2"><%= t("propagation.created_at") %></th>
                    <th class="col-md-2"><%= t("general.operation") %></th>
                  </tr>
                </thead>
                <tbody>
                  <% if maint.propagations.blank? %>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  <% else %>
                    <% maint.propagations.each do |ppg| %>
                      <tr class=<%= (ppg.need_to_resume?) ? "warning" : "" %> >
                        <td><%= ppg.id%></td>
                        <td><%= ppg.action%></td>
                        <td>
                          <%= ppg.status%></br>
                          <%= propagation_timestamp_for_status(ppg) %>
                        </td>
                        <td><%= ppg.created_at%></td>
                        <td>
                          <% if ppg.need_to_resume? %>
                            <%= form_tag(resume_propagation_path(ppg), :method => :post, :remote => true) do %>
                              <%= hidden_field_tag 'lock_version', ppg.lock_version %>
                              <%= button_tag t("propagation.resume"), :title => t("propagation.resume"), :class => "btn btn-primary", :remote => true, :id => "resume_#{ppg.id}" do %>
                                <i class="fa fa-retweet"></i> 
                              <% end %>
                            <% end %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div> 
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
