      <legend>Result</legend>
      <% if @maintenances.blank? %>
        <p> <%= t("general.no_result_found") %> </p>
      <% else %>
        <div class="tab-pane fade in active">
          <table class="table table-bordered" style="border-collapse:collapse;">
            <thead>
              <tr>
                <th class="col-md-1"><%= t("maintenance.maintenance_id") %></th>
                <th class="col-md-1"><%= t("maintenance.property") %></th>
                <th class="col-md-1"><%= t("maintenance.scheduled_at") %></th>
                <th class="col-md-2"><%= t("maintenance.period") %></th>
                <th class="col-md-1"><%= t("maintenance.duration") %></th>
                <th class="col-md-1"><%= t("general.status") %></th>
                <th class="col-md-1"><%= t("maintenance.test_account") %></th>
              </tr>
            </thead>
            <tbody>
              <% @maintenances.each do |maint| %>
                <tr id=<%= "maint#{maint.id}_body" %> bgcolor=<%= cycle("#F9F9F9", "", name: "row_class") %>>
                  <td>
                    <%= link_to(maint.id.to_s, "javascript:void(0);", "type" => "button", "data-toggle" => "collapse", "data-target" => "##{maint.id}", "class" => "accordion-toggle") %>
                  </td>
                  <td><%= maint.property_id %></td>
                  <td><%= time_format_for(maint.created_at) %></td>
                  <td><%= time_format_for(maint.start_time) %> ~ <%= time_format_for(maint.end_time) %></td>
                  <td><%= show_duration(maint.duration) %></td>
                  <td>
                    <%= t(display_status(maint.status)) %>
                  </td>
                  <td><%= t(display_allow_test_acc_val(maint.allow_test_account)) %></td>
                </tr>
                <tr>
                  <td colspan="8" class="hiddenRow" style="padding:0">
                    <div class="accordian-body collapse col-md-12 col-md-offset-0" id=<%= maint.id %>>
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <th class="col-md-1"><%= t("maintenance.propagation_id") %></th>
                            <th class="col-md-1"><%= t("propagation.action") %></th>
                            <th class="col-md-2"><%= t("general.status") %></th>
                            <th class="col-md-2"><%= t("propagation.created_at") %></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if maint.propagations.blank? %>
                            <tr>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                          <% else %>
                            <% maint.propagations.each do |ppg| %>
                              <tr>
                                <td><%= ppg.id%></td>
                                <td><%= ppg.action%></td>
                                <td>
                                  <%= ppg.status%></br>
                                  <%= propagation_timestamp_for_status(ppg) %>
                                </td>
                                <td><%= ppg.created_at%></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                    </div> 
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
