<!DOCTYPE html>
<html id="extr-page">
  <head>
    <%= render partial: "shared/login_head" %> 
  </head>
  
  <body class="animated fadeInDown">
  <header>
     <span id="extr-page-header-space">
     </span>
  </header>
    
  <div id="main" role="main">
    <!-- ap_main_content -->
    <div id="content" class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <div class="error-box text-center">
                <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> <%= @error_info[:status] %></h1>
                <h2 class="font-xl"><strong><%= t("general.product_portfolio") %> / <%= @app_name %></strong></h2>
                <h2 class="font-xl"><strong><%= @error_info[:message] %></strong></h2>
                <br />
                <p class="lead semi-bold">
                  <strong><%= @error_info[:note] %></strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
 
    </div>
  </div>
  </body>
</html>