<%= form_tag({controller: :system_users, action: :index}, :method => :get, :remote => true ) do %>
  <table id="system_user" class="table table-bordered table-striped">
    <thead>
      <th><%=t("user.user_name") %></th>
      <th><%=t("user.status") %></th>
      <th><%=t("casino.title") %></th>
      <th class="col-md-3" id="updated_at"><%=t("general.updated_at")%></th>
    </thead>
    <tbody>
      <% @system_users.each do |su| %>
        <tr align="center">
          <td id="<%=su.id%>">
          <% if policy(su).show? %>
            <%=link_to "#{su.username}@#{su.domain.name}", system_user_path(su), :remote => true %>
          <% else %>
            <%= "#{su.username}@#{su.domain.name}" %>
          <% end %>
          </td>
          <td id="<%=su.id%>"><%= system_user_status_format(su.status) %></td>
          <td><%= casino_id_names_format(su.active_casino_id_names) %></td>
          <td><%= format_time(su.updated_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>