<article class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
<h2><%= @system_user.username %></h2>

<%= form_tag({action: :update_roles}, :method => :put, :class => "smart-form", :remote => true) do %>
  <header role="heading">
    <%= t("role.role") %>
  </header>

  <% @apps.each do |app| %>
  <fieldset>
    <%= app.name %>
    <section>
    <% app.roles.each do |role| %>
      <label class="radio">
        <%= radio_button_tag "roles", role.id, current_role?(@system_user, role.id) %>
        <i></i>
        <%=t("role.#{role.name}") %>
      </label>
    <% end %>
    </section>
  </fieldset>
  <% end %>


  <footer>
    <%= submit_tag(t("general.confirm"), :class => "btn btn-primary", :remote => true) %> <%= link_to t("general.cancel"), system_user_path(@system_user), :class => "btn btn-default", :remote => true %>
  </footer>
<% end %>
