<%= breadcrumbs([ t("user.list_users") ], 'fa fa-lg fa-fw fa-list') -%>
<%= table_tabs(t("user.list_users"), 
[ t("user.list_users"), system_users_path, policy(:system_user).index? ],
[ "Log", index_edit_role_change_logs_path, policy(:change_log).index? ]) %>

<div class="tab-content padding-10">
  <div class="tab-pane fade in active" id="system_user_change_logs_content">
    <%= render :partial => "system_users/system_user_table" %>
  </div>
</div>

        
<%= render "shared/page_setup" %>
<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_system_users" } %>
