<!-- Breadcrumbs -->
<div class="row">
<div id="breadcrumbs" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
  <h2 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-list"></i>
    <%= t("user.list_users") %>
    <span> &gt; </span>
    <i><%= @system_user.username %></i>
    <small>(<%= t("#{system_user_status_format(@system_user.status)}") %>)</small>
  </h2>
</div>
</div>
<!-- end Breadcrumbs -->

<!-- pannel -->
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

        <!-- Systems and roles -->
        <div id="systems_and_roles" class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">
          <header>
            <h2><strong><%= t("role.systems_and_roles") %></strong></h2>

            <% if policy(@system_user).edit_roles?  %>
            <div class="widget-toolbar" role="menu">
              <div class="btn-group">
                <%=link_to t("general.edit"), edit_roles_system_user_path(:id => @system_user.id), :class => "btn btn-primary btn-xs", :remote => true %>
              </div>
            </div>
            <% end %>
          </header>
          <div>
            <div class="widget-body">
              <% if @system_user.roles.present? %>
                <table id="systems_and_roles" class="table table-bordered table-striped">
                  <thead>
                    <th class="col-md-2"><%= t("systems.title") %></th>
                    <th class="col-md-2"><%= t("roles.title") %></th>
                  </thead>
                  <tbody>
                     <% @system_user.roles.includes(:app).each do |role| %>
                       <tr align="center">
                       <td><%= "#{role.app.name.titleize}" %></td>
                       <td><%= "#{role.name.titleize}" %></td>
                       </tr>
                     <% end %>
                  </tbody>
                </table>
              <% else %>
                <%= t("user.no_role") %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- end Systems and roles -->

      </article>
    </div>
  </section>
<!-- pannel -->
