<article class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

<h2><%= @system_user.username %></h2>

<table class="table table-hover table-striped">
  <tr>
    <td><%=t("user.status")%>:</td>
    <td>
      <div class="col-md-12">
        <%= t("#{system_user_status_format(@system_user.status)}") %>
      </div>
    </td>
    <% if @system_user.status %>
      <% if policy(@system_user).lock? %>
        <td>
          <%=button_to t(change_status_button_name(@system_user.status)), {:controller => 'system_users', :action => change_status_action_name(@system_user.status), :id => @system_user.id}, :class => "btn btn-danger", :remote => true %>
        </td>
      <% end %>
    <% else %>
      <% if policy(@system_user).unlock? %>
        <td>
          <%=button_to t(change_status_button_name(@system_user.status)), {:controller => 'system_users', :action => change_status_action_name(@system_user.status), :id => @system_user.id}, :class => "btn btn-danger", :remote => true %>
        </td>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <td><%=t("role.role") %>:</td>
    <td>
    <% if @system_user.roles.present? %>
      <% @system_user.roles.each do |role| %>
      <div class="col-md-4">
        <%= "#{role.app.name.titleize}:" %>
      </div>
      <div class="col-md-8">
        <%= "#{role.name.titleize}" %>
      </div>
      <br>
      <% end %>
    <% else %>
      <div class="col-md-12">
        -
      </div>
    <% end %>
    </td>
    <% if allow_edit_roles?(@system_user) %>
      <td>
        <%=button_to t("general.edit"), {:controller => 'system_users', :action => 'edit_roles', :id => @system_user.id}, :class => "btn btn-primary", :remote => true %>
      </td>
    <% end %>
  </tr>
</table>
