<%= breadcrumbs([ t("user.create_system_user"), t("general.log")], 'fa fa-lg fa-fw fa-edit') -%>
<%= table_tabs("Log",
[ t("user.create_system_user"), new_system_user_path, policy(:system_user).create? ],
[ "Log", create_system_user_change_logs_path, policy(:change_log).create_system_user? ]) %>

<div class="tab-content padding-10">
  <div class="tab-pane fade in active" >
    <%= form_tag(create_system_user_change_logs_path, :remote => true, :method => 'get', :id => "search_form") do %>
      <fieldset>
        <div class="row">
          <%= render partial: "shared/date_range_picker" , locals: {:default_start_time => params[:start_time], :default_end_time => params[:end_time] } %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-12">
              <%= submit_tag t("general.search"), :class => "btn btn-primary", :remote => true  %>
              <%= link_to t('general.export'), excels_create_system_user_log_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
    <br />

    <% if params[:commit].present? %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col-md-3"><%= t("change_log.user") %></th>
            <th class="col-md-1"><%= t("change_log.action") %></th>
            <th class="col-md-2" id="action-at"><%= t("change_log.action_at") %></th>
            <th class="col-md-2"><%= t("change_log.action_by") %></th>
          </tr>
        </thead>

        <tbody>
          <% if @create_user_change_logs.blank? %>
            <tr align="center">
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          <% else %>
            <% @create_user_change_logs.each do |cl| %>
            <tr align="center">
              <td><%= popover((cl.target_username || "") + (cl.target_domain ? ('@'+cl.target_domain) : ""), t("casino.title"), target_casinos_format(cl.target_casinos), "popover-hover", "top") %></td>
              <td><%= display_text(cl.action) %></td>
              <td><%= format_time(cl.created_at) %></td>
              <td><%= popover(cl.action_by['username'], t("casino.title"), casino_id_names_format(cl.action_by['casino_id_names']), "popover-hover", "top") %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>

<%= render "shared/page_setup" %>
<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "create_system_user" } %>
