<%= breadcrumbs([ t("role.list_roles"), t("general.log") ], 'fa fa-lg fa-fw fa-list') -%>
<%= table_tabs(t("general.log"),
[ t("role.list_roles"), roles_path, policy(:role).index? ],
[ t("general.log"), index_upload_role_change_logs_path, policy(:change_log).index_upload_role? ]) %>

<div class="tab-content padding-10">
  <div class="tab-pane fade in active" >
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="col-md-2"><%= t("change_log.from") %></th>
            <th class="col-md-2"><%= t("change_log.to") %></th>
            <th class="col-md-3"><%= t("role.change_apps") %></th>
            <th class="col-md-2" id="action-at"><%= t("change_log.action_at") %></th>
            <th class="col-md-2"><%= t("change_log.action_by") %></th>
          </tr>
        </thead>

        <tbody>
          <% if @upload_logs.blank? %>
            <tr align="center">
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
          <% else %>
            <% @upload_logs.each do |log| %>
            <tr align="center">
              <td><%= log.before_version %></td>
              <td><%= log.version %></td>
              <td><%= log.upload_apps %></td>
              <td><%= format_time(log.upload_at) %></td>
              <td><%= log.upload_by %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render "shared/page_setup" %>
<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_roles" } %>
