<%= breadcrumbs([t("domain_licensee.list"), t("general.log")], 'fa fa-lg fa-fw fa-list') -%>
<%= table_tabs(
  t("general.log"),
  [t("domain_licensee.active"), domain_licensees_path, policy(:domain).index_domain_licensee?],
  [t("general.log"), create_domain_licensee_change_logs_path, policy(:change_log).index_create_domain_licensee?])
%>

<div class="tab-content padding-10">
  <div class="tab-pane fade in active" id="domain_licensee_change_logs">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" id="domain_licensee_change_logs_table">
        <thead>
          <tr>
            <th class="col-md-1"><%= t("domain.name") %></th>
            <th class="col-md-1"><%= t("domain_licensee.licensee") %></th>
            <th class="col-md-1"><%= t("casino.title") %></th>
            <th class="col-md-1"><%= t("general.action") %></th>
            <th class="col-md-1" id="action-at"><%= t("general.action_at") %></th>
            <th class="col-md-1"><%= t("general.action_by") %></th>
          </tr>
        </thead>

        <tbody>
          <% if @domain_licensee_change_logs.blank? %>
          <tr align="center">
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <% else %>
            <% @domain_licensee_change_logs.each do |cl| %>
            <tr align="center">
              <td><%= cl.target_domain %></td>
              <td><%= "#{cl.change_detail['licensee_name']}[#{cl.change_detail['licensee_id']}]" %></td>
              <td><%= target_casinos_format(cl.target_casinos) %></td>
              <td><%= display_text(cl.action) %></td>
              <td><%= format_time(cl.created_at) %></td>
              <td><%= popover(cl.action_by['username'], t("casino.title"), casino_id_names_format(cl.action_by['casino_id_names']), "popover-hover", "top") %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

        
<%= render "shared/page_setup" %>
<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "domain_licensee" } %>
