<!-- Breadcrumbs -->
<%= breadcrumbs([ t("role.list_roles") ], 'fa fa-lg fa-fw fa-list') -%>
<%= table_tabs(t("role.list_roles"),
[ t("role.list_roles"), roles_path, policy(:role).index? ],
[ t("general.log"), index_upload_role_change_logs_path, policy(:change_log).index_upload_role? ]) %>
<!-- end Breadcrumbs -->

<!-- pannel -->
  <section id="widget-grid">
    <div class="row" style="margin:30px 0 10px 0;">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <span>
          <span style="vertical-align: bottom;"><%= t('role.current_version') %>: <%= @current_version.version if @current_version %></span>
          <span style="margin-left: 10px; vertical-align: bottom;"><%= t('role.last_upload_at') %>: <%= format_time(@current_version.upload_at) if @current_version %></span>
          <% if policy(:role).upload? %>
            <span style="margin-left: 10px;">
              <button id="uploadRolePermissionBtn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#uploadRoleModal"><%= t("general.upload") %></button>
            </span>
          <% end %>
          <span style="margin-left: 10px;">
            <a id="exportRolePermission" class="btn btn-primary"><%= t("general.export") %></a>
          </span>
        </span>
      </article>
    </div>

    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

        <% @roles_by_apps.each do |app_roles| %>
        <div id=<%= app_roles[:app].name %> class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

          <header><h2><strong><%= app_roles[:app].name.titleize %></strong></h2></header>

          <div>
            <div class="widget-body">
                <% app_roles[:roles].each do |role| %>
                  <h5>
                    <small><i class='fa fa-check-square-o'></i></small>
                    <%= role.name.titleize %>
                    <% if policy(:permission).show? %>
                      <small><%=link_to t("role.show_permission"), role_path(role), :remote => true %></small>
                    <% end %>
                  </h5>
                <% end %>
            </div>
          </div>

        </div>
        <% end %>

      </article>
    </div>
  </section>
<!-- end pannel -->

<%= render partial: "roles/upload_role_permission" %>
<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_roles" } %>
<%= render partial: "shared/pop_up_panel" %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#exportRolePermission").click(function () {
      registerPopUpPanel("<%= t('confirm.export_role_permission') %>", function(){
        var baseUrl = "/roles/export.xls"
        window.location.href = baseUrl;
      });
    });
  });
</script>