<!-- Breadcrumbs -->
  <div class="row">
    <div id="breadcrumbs" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
      <h2 class="page-title txt-color-blueDark">
        <i class="fa-fw fa fa-list"></i>
        <%= t("role.list_roles") %>
      </h2>
    </div>
  </div>
<!-- end Breadcrumbs -->


<!-- pannel -->
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

        <% @apps.each do |app| %>
        <div id=<%= app.name %> class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

          <header><h2><strong><%= app.name.titleize %></strong></h2></header>

          <div>
            <div class="widget-body">
                <% app.roles.each do |role| %>
                  <h5>
                    <small><i class='fa fa-check-square-o'></i></small>
                    <%= role.name.titleize %>
                    <% if policy(:permission).show? %>
                      <small><%=link_to t("role.show_permission"), role_path(role), :remote => true %></small>
                    <% end %>
                  </h5>
                <% end %>
            </div>
          </div>

        </div>
        <% end %>

      </article>
    </div>
  </section>
<!-- end pannel -->

<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_roles" } %>
