

<div class="col-md-6">
<h2><%= t("role.role") %></h2>

<% @apps.each do |app| %>
<table class="table table-hover table-striped">
  
  <h2><%= app.name.titleize %>  </h2>
    <% app.roles.each do |role| %>
    <tr>
    <td>
      <a href="javascript:void(0);" rel="popover" data-placement="right" data-original-title="<%= role.name.titleize %>" data-content="<%= gen_permission_dom role %>" data-html="true"><%= role.name.titleize %>
      </a>
    </td>
    </tr>
    <% end %>

</table>
<% end %>
</div>

<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_roles" } %>