<!-- Breadcrumbs -->
  <div class="row">
    <div id="breadcrumbs" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
      <h2 class="page-title txt-color-blueDark">
        <i class="fa-fw fa fa-list"></i>
        <%= t("role.list_roles") %>
        <a id="exportRolePermission" class="btn btn-primary pull-right"><%= t("general.export") %></a>
      </h2>
    </div>
  </div>
<!-- end Breadcrumbs -->


<!-- pannel -->
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

        <% @roles_by_apps.each do |app_roles| %>
        <div id=<%= app_roles[:app].name %> class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false">

          <header><h2><strong><%= app_roles[:app].name.titleize %></strong></h2></header>

          <div>
            <div class="widget-body">
                <% app_roles[:roles].each do |role| %>
                  <h5>
                    <small><i class='fa fa-check-square-o'></i></small>
                    <%= role.name.titleize %>
                    <% if policy(:permission).show? %>
                      <small><%=link_to t("role.show_permission"), role_path(role), :remote => true %></small>
                    <% end %>
                  </h5>
                <% end %>
            </div>
          </div>

        </div>
        <% end %>

      </article>
    </div>
  </section>
<!-- end pannel -->

<%= render partial: "shared/nav_setup", locals: { tab_to_activate: "list_roles" } %>
<%= render partial: "shared/pop_up_panel" %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#exportRolePermission").click(function () {
      registerPopUpPanel("<%= t('confirm.export_role_permission') %>", function(){
        var baseUrl = "/roles/export.xls"
        window.location.href = baseUrl;
      });
    });
  });
</script>