<!-- Breadcrumbs -->
  <div class="row">
    <div id="breadcrumbs" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
      <h2 class="page-title txt-color-blueDark">
        <i class="fa-fw fa fa-list"></i>
        <%= t("role.list_roles") %>
        <span>&gt; <%= @app.name.titleize %> - <%= @role.name.titleize %></span>
      </h2>
    </div>
  </div>
<!-- end Breadcrumbs -->

<!-- pannel -->
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="jarviswidget jarviswidget-color-blueDark" id="show_permission" data-widget-editbutton="false">

          <header><h2><strong><%= t("role.permissions") %></strong></h2></header>

          <div>
            <div class="widget-body">
              <% @permissions_by_app.each do |target, perms| %>
                <h3><%= target.to_s.titleize %></h3>
                
                <% if @permissions_by_role.has_key?(target.to_sym) %>
                  <% perms.each do |action, name| %>
                    <h5>
                      <% role_permission_value = @role.get_permission_value(target.to_s, action.to_s) %>
                      <% if @permissions_by_role[target.to_sym].include? action.to_s %>
		      &nbsp; <small><i class='fa fa-check-square-o'></i></small>
                      <%= name.titleize%><%= " (#{role_permission_value})" if role_permission_value %>
                      <% else %>
                        &nbsp; <small><i class='fa fa-square-o'></i> <%= name.titleize%><%= " (#{role_permission_value})" if role_permission_value %></small>
                      <% end %>
                    </h5>
                  <% end %>
                <% else %>
                  <% perms.each do |action, name| %>
                    <h5>
		    &nbsp; <small><i class='fa fa-square-o'></i> <%= name.titleize%></small>
                    </h5>
                  <% end %>
                <% end %>
                <br></br>
              <% end %>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
<!-- pannel -->


