<%= form_tag({controller: :domain_casinos, action: :create}, method: :post, remote: true) do %>

<table id="domain" class="table table-striped table-bordered table-hover" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th class="col-md-1"><%= t("domain.name") %></th>
      <th class="col-md-1"><%= t("casino.title") %></th>
      <th class="col-md-1" id="updated-at"><%= t("general.updated_at") %></th>
      <th class="col-md-1"><%= t("general.operations") %></th>
    </tr>
  </thead>

  <tbody>
    <!-- create domain_casino -->
    <% if policy(:domain_casino).create? %>
      <tr align="center">
        <td>
          <%= select_tag "domain_id", options_for_select(@list_domain), class: "select2", style: "text-align:center width:100%" %>
        </td>
        <td>
          <%= select_tag "casino_id", options_for_select(@list_casino), class: "select2", style: "text-align:center width:100%" %>
        </td>
        <td></td>
        <td>
          <%= button_tag("add", id: "create_domain_casino", title: "Add", class: "btn btn-primary", remote: true) do %>
            <i class="fa fa-plus-square"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </thead>

  <tbody>
    <!-- list_domain_casino -->
    <% @domain_casinos.each do |domain_casino| %>
      <tr align="center">
        <td><%= domain_casino.domain_name %></td>
        <td><%= domain_casino.casino_name %></td>
        <td><%= format_time(domain_casino.updated_at) %></td>
        <td>
          <% if policy(:domain_casino).inactive? %>
            <%= link_to(domain_casino_inactive_path(id: domain_casino.id), method: :post, remote: true, title: "delete", class: "btn btn-primary", id: "delete_#{domain_casino.id}") do %>
              <i id="delete" class="fa fa-trash-o"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>