<!DOCTYPE html>
<html>
<head>
  <%= render "shared/head" %>
</head>
<body>
  <%= render "layouts/dashboard/header" %>
  <!--%= render "shared/left_panel" --%>
  <%= render "shared/main_panel" %>
  <%= render "shared/footer" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
